/* Start Style for Laptop View */

.title-area {
    background-color: lightgray;
    height: 10vh;
    margin: 0vh 2vh 0vh 2vh;
    margin-top: 12vh;
    font-size: 30pt;
}

.left-child {
    background-color: lightgray;
    height: 70vh;
    flex: 2;
    overflow: auto;
    padding: 15pt;
}

.right-child {
    background-color: lightseagreen;
    height: 70vh;
    flex: 1;
    padding: 15pt;
    font-size: 15pt;
}
.custom-underline
{
text-decoration:none;
display: inline-block;
color:black;
}
/* add a empty string after the elment with class .slide-center-out  */
.custom-underline:after 
{
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
-webkit-transition: width .5s ease, background-color .5s ease;
-moz-transition: width .5s ease, background-color .5s ease;
 
margin:auto; /* center the cotent so it will sliding from the midddle to the left and right */
}
 
/* Change the width and background on hover, aka sliding from the middle to the left and right */
.custom-underline:hover:after 
{
width: 100%;
background: black;
}

/* End Style for Laptop View */

/* Start Style for Mobil View */

.title-areaM {
    background-color: lightgray;
    height: 5vh;
    width: 90%;
    margin-top: 12vh;
}

.calendarM {
    background-color: lightgray;
    height: 55vh;
    width: 90%;
    margin: 2vh;
}

.note-listM {
    background-color: lightseagreen;
    height: 40vh;
    width: 90%;
    margin-bottom: 2vh;
}

/* End Style for Mobil View */