.calendar {
    background-color: lightgray;
    height: 70%;
    width: 80%;
    margin: 20pt;
}

.note-list {
    background-color: lightseagreen;
    height: 70%;
    width: 20%;
    margin: 20pt;
}