.left-child-p {
    background-color: lightgray;
    height: 70vh;    
    flex: 1;
}

.right-child-p {
    background-color: lightseagreen;
    height: 70vh;
    flex: 2;
}

.calendar-area-mini {
    background-color: rgb(202, 168, 168);
    height: 65%;
}

.AddBtnForExpense{
    background: rgb(126, 240, 240);
    font-size: 15px;
}
/* .add-box {
    background-color: rgb(126, 240, 240);
    /* height: 35%; 
} */
